@import url('https://fonts.googleapis.com/css2?family=Road+Rage&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Elite&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-roboto: 'Roboto', sans-serif;
  --font-special: 'Special', sans-serif;
  --font-road: 'Road Rage', cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    padding-top: 0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);

}

.popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.popup.open {
  opacity: 1;
  pointer-events: auto;
}

.popup-content {
  background: white;
  max-width: 400px;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
}

/* Animação de Loading */
@keyframes football-bounce {
  0% {
    transform: translate(-50%, 35px) rotate(0deg);
  }

  40% {
    transform: translate(-50%, -85px) rotate(180deg);
  }

  65% {
    transform: translate(-50%, 10px) rotate(290deg);
  }

  75% {
    transform: translate(-50%, 35px) rotate(330deg)
      scaleX(1.08) scaleY(0.92);
  }

  100% {
    transform: translate(-50%, 35px) rotate(360deg);
  }
}

@keyframes football-shadow {
  0%,
  100% {
    transform: translateX(-50%) scaleX(1);
    opacity: 0.3;
  }

  40% {
    transform: translateX(-50%) scaleX(0.45);
    opacity: 0.1;
  }

  65% {
    transform: translateX(-50%) scaleX(0.75);
    opacity: 0.2;
  }

  75% {
    transform: translateX(-50%) scaleX(1.15);
    opacity: 0.35;
  }
}

.football-ball {
  animation: football-bounce 1s infinite ease-in-out;
}

.football-shadow {
  animation: football-shadow 1s infinite ease-in-out;
}

@keyframes loading-dot {
  0%,
  100% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
}

.loading-dot {
  color: white;
  animation: loading-dot 1s infinite;
}

.animation-delay-0 {
  animation-delay: 0ms;
}

.animation-delay-150 {
  animation-delay: 150ms;
}

.animation-delay-300 {
  animation-delay: 300ms;
}
